.vscode/**
.vscode-test/**
out/test/**
src/**
examples/**
node_modules/**

**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

.gitignore
vsc-extension-quickstart.md
azure-pipelines.yml
CHANGELOG.md
LICENSE
README.md
webpack.config.js
